<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <h:head>
        <title>Person List</title>
    </h:head>

    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

    </f:facet>

    <f:facet name="middle">
        <h:outputStylesheet name="bootstrap/css/bootstrap.css"/>

        <h:outputStylesheet name="bootstrap/css/dashboard.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"/>

        <h:outputScript name="bootstrap/js/bootstrap.js"/>
    </f:facet>

    <f:facet name="last">

    </f:facet>
    <title>Hello, world!</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.jsf">Activity</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.jsf">Teams</a></li>
                <li><a href="listConvict.jsf">History</a></li>
                <li><a href="listVisit.jsf">Game</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="container">
        <div class="row">
            <div class="col-xs-6">

                <table class="table table-bordered" style="max-width: fit-content">

                    <tbody>
                    <ui:repeat value="#{boardBackingBean.listList}" var="boardList"    >

                        <tr>
                            <ui:repeat value="#{boardList}" var="boardInfo">
                                <td>
                                    #{boardInfo.difficulty}
                                    <br/>
                                    #{boardInfo.type}
                                </td>

                            </ui:repeat>
                        </tr>

                    </ui:repeat>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <h:panelGroup rendered="#{boardBackingBean.render=='a'}">
                    <table class="table table-bordered" style="max-width: fit-content">
                        <thead>
                        <tr>
                            <th>Activity Card</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ui:repeat value="#{boardBackingBean.cardList}" var="cards">
                            <tr>
                                <td>
                                    #{cards.easyDrawing}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #{cards.easySpeaking}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #{cards.easyMiming}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #{cards.hardDrawing}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #{cards.hardSpeaking}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #{cards.hardMiming}
                                </td>
                            </tr>
                        </ui:repeat>
                        <tr>
                            <td>
                                <h:commandButton value="WON" type="submit" action="#{boardBackingBean.getThreePointsCard()}"/>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h:commandButton value="LOST" type="submit" action="#{boardBackingBean.getThreePointsCard()}"/>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </h:panelGroup>


                <h:form>
                    <h:commandButton value="hide" type="submit" action="#{boardBackingBean.setRender('default')}"/>
                    <h:commandButton value="show" type="submit" action="#{boardBackingBean.setRender('a')}"/>
                    <h:commandButton value="3" type="submit" action="#{boardBackingBean.getThreePointsCard()}"/>
                    <h:commandButton value="4" type="submit" action="#{boardBackingBean.getFourPointsCard()}"/>
                    <h:commandButton value="5" type="submit" action="#{boardBackingBean.getFivePointsCard()}"/>

                </h:form>

                <h:form>

                    #{boardBackingBean.diceOne}
                    #{boardBackingBean.diceTwo}
                    <h:commandButton value="Roll!" type="submit" action="#{boardBackingBean.setDices()}"/>
                </h:form>


                <br/>
                <br/>
                <br/>
                <br/>
                <h:commandButton> timer </h:commandButton>

            </div>
        </div>
    </div>


</div>

</body>
</html>