<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <h:head>
        <title>Person List</title>
    </h:head>

    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

    </f:facet>

    <f:facet name="middle">
        <h:outputStylesheet name="bootstrap/css/bootstrap.css"/>

        <h:outputStylesheet name="bootstrap/css/dashboard.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"/>

        <h:outputScript name="bootstrap/js/bootstrap.js"/>
    </f:facet>

    <f:facet name="last">

    </f:facet>
    <title>Hello, world!</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.jsf">Activity</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.jsf">Teams</a></li>
                <li><a href="listConvict.jsf">History</a></li>
                <li><a href="listVisit.jsf">Game</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="container">
        <h:form>
            <h:outputLabel for="teamNumber">Team Number:</h:outputLabel>
            <br/>
            <h:selectOneMenu id="teamNumber" value="#{addTeamBackingBean.teamNumber}">
                <f:selectItem itemValue="2" itemLabel="2"/>
                <f:selectItem itemValue="3" itemLabel="3"/>
                <f:selectItem itemValue="4" itemLabel="4"/>
            </h:selectOneMenu>
            <h:commandButton class="btn btn-default" value="Submit" action="#{addTeamBackingBean.submit}"/>
            <h:commandButton class="btn btn-default" value="Show teams" action="#{addTeamBackingBean.showTeams}"/>

        </h:form>

    </div>

            <div class="col-xs-6">
                <h:panelGroup>

                    <h:form rendered="#{addTeamBackingBean.test==2}">

                        <ui:repeat value="#{addTeamBackingBean.teamList}" var="t">
                            <tr>
                              <td>#{t.name}</td>
                            </tr>
                        </ui:repeat>

                    </h:form>

                    <h:form rendered="#{addTeamBackingBean.test==1}">

                        <h:outputLabel for="teamOne" class="col-2 col-form-label">Team One:</h:outputLabel>
                        <h:inputText id="teamOne" class="form-control" value="#{addTeamBackingBean.teamOne.name}"/>

                        <h:outputLabel for="teamTwo" class="col-2 col-form-label">Team Two:</h:outputLabel>
                        <h:inputText id="teamTwo" class="form-control" value="#{addTeamBackingBean.teamTwo.name}"/>

                        <h:outputLabel rendered="#{addTeamBackingBean.teamNumber>=3}" for="teamTree" class="col-2 col-form-label">Team Tree:</h:outputLabel>
                        <h:inputText rendered="#{addTeamBackingBean.teamNumber>=3}" id="teamTree" class="form-control"  value="#{addTeamBackingBean.teamTree.name}"/>

                        <h:outputLabel rendered="#{addTeamBackingBean.teamNumber==4}" for="teamFour" class="col-2 col-form-label">Team Four:</h:outputLabel>
                        <h:inputText rendered="#{addTeamBackingBean.teamNumber==4}" id="teamFour" class="form-control"  value="#{addTeamBackingBean.teamFour.name}"/>

                        <h:commandButton class="btn btn-default" value="Submit Teams"
                                         action="#{addTeamBackingBean.update}"/>

                    </h:form>

                </h:panelGroup>
            </div>



    </div>



</body>
</html>